<div class="container-xxl py-5">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">About Us</h1>
        <div class="row g-4">
            <div class="col-12">
                <div class="row gy-4">
                    <div class="col-md-4 wow fadeIn" data-wow-delay="0.1s">
                        <div class="d-flex align-items-center bg-light rounded p-4">
                            <div class="bg-white border rounded d-flex flex-shrink-0 align-items-center justify-content-center me-3"
                                style="width: 45px; height: 45px;">
                                <i class="fa fa-map-marker-alt text-primary"></i>
                            </div>
                            <span>Nairobi West, Nairobi, Kenya</span>
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeIn" data-wow-delay="0.3s">
                        <div class="d-flex align-items-center bg-light rounded p-4">
                            <div class="bg-white border rounded d-flex flex-shrink-0 align-items-center justify-content-center me-3"
                                style="width: 45px; height: 45px;">
                                <i class="fa fa-envelope-open text-primary"></i>
                            </div>
                            <span>Info@AccountManagement.com</span>
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeIn" data-wow-delay="0.5s">
                        <div class="d-flex align-items-center bg-light rounded p-4">
                            <div class="bg-white border rounded d-flex flex-shrink-0 align-items-center justify-content-center me-3"
                                style="width: 45px; height: 45px;">
                                <i class="fa fa-phone-alt text-primary"></i>
                            </div>
                            <span>+254700407423</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="wow fadeInUp" data-wow-delay="0.5s">
                    <p>Welcome to AccountsHub, your premier online platform for buying and selling verified
                        accounts across various categories. Our mission is to provide a safe and secure
                        marketplace for individuals and businesses to trade a wide range of account types,
                        including transcription accounts, writing accounts, microservice accounts, and more.</p>
                    <p>With a team of experts dedicated to ensuring the authenticity and reliability of every
                        account listed on our platform, we strive to offer a seamless experience for both buyers
                        and sellers. Whether you're in need of established transcription accounts, writing
                        profiles, or microservice access, or if you're looking to sell your own accounts,
                        AccountsHub is here to facilitate the process.</p>
                    <p>At AccountsHub, we prioritize transparency, security, and customer satisfaction. Our
                        robust verification process and secure transaction methods give you peace of mind when
                        conducting business on our platform. Additionally, our account management features allow
                        you to easily post your accounts for sale and efficiently manage your listings.</p>
                    <p>Thank you for choosing AccountsHub as your trusted partner in account trading and
                        management. We are dedicated to serving your account-related needs and look forward to
                        assisting you in achieving your goals.</p>

                </div>
            </div>
        </div>
    </div>
</div>