<!-- Registration Section -->
<section id="registration" class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h2 class="text-center mb-4">Register for Our Training Classes</h2>
            <!-- Add your registration form here -->
            <form>
                <!-- Form fields (Name, Email, etc.) -->
                <!-- Modal for Registration -->
                <div class="modal fade" id="registrationModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Register</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="mb-3">
                                        <label for="username" class="form-label">Username</label>
                                        <input type="text" class="form-control" id="username" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="password" class="form-label">Password</label>
                                        <input type="password" class="form-control" id="password" required>
                                    </div>
                                    <a href="#" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block"
                                        onclick="openRegistrationModal()">Learn<i
                                            class="fa fa-arrow-right ms-3"></i></a>


                                </form>
                            </div>
                        </div>
                    </div>
                </div>


            </form>
        </div>
    </div>
</section>

<!-- Free Study Resources Section -->
<section class="bg-light py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mb-4">Free Study Resources</h2>
                <p>Access our collection of study materials to enhance your learning experience.</p>
                <a href="#study-resources" class="btn btn-primary">View Resources</a>
            </div>
        </div>
    </div>
</section>

<!-- Study Resources Section -->
<section id="study-resources" class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h2 class="text-center mb-4">Study Resources</h2>
            <!-- Add your study resources here (e.g., links, documents, videos) -->
        </div>
    </div>
</section>
<!-- View Resources Section -->
<section id="view-resources" class="container py-5">
    <div class="row">
        <!-- Post 1 -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <img src="/public/img/seg.jpg" class="card-img-top" alt="Post 1 Image">
                <div class="card-body">
                    <h5 class="card-title">Remotasks Exams</h5>
                    <p class="card-text">Learn the basics of Remotasks exams</p>
                </div>
            </div>
        </div>

        <!-- Post 2 -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <img src="/public/img/seg.jpg" class="card-img-top" alt="Post 2 Image">
                <div class="card-body">
                    <h5 class="card-title">Transcription</h5>
                    <p class="card-text">Learn the art of autonomous transcription</p>
                </div>
            </div>
        </div>

        <!-- Post 3 -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <img src="/public/img/com-logo-4.jpg" class="card-img-top" alt="Post 3 Image">
                <div class="card-body">
                    <h5 class="card-title">Writing</h5>
                    <p class="card-text">Learn how to open a writing account and land clients</p>
                </div>
            </div>
        </div>

        <!-- Post 4 -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <img src="/public/img/seg.jpg" class="card-img-top" alt="Post 4 Image">
                <div class="card-body">
                    <h5 class="card-title"> Proxy and VPNs</h5>
                    <p class="card-text">Learn how to Use Proxy Servers diligently</p>
                </div>
            </div>
        </div>
    </div>
</section>