
<div class="formbold-form-wrapper">
    <form action="">
        <div class="formbold-input-flex">
            <h4>Get a professional account manager</h4>
            <div>
                <label for="firstname" class="formbold-form-label"> User Name</label>
                <input type="text" name="firstname" id="name" placeholder="Your Name" class="formbold-form-input" required />
                </div>
                <div>
                <label for="firstname" class="formbold-form-label"> Account Name</label>
                <input type="text" name="firstname" id="account-name" placeholder="Writers Kenya" class="formbold-form-input"
                    required />
                </div>
                </div>
    <div class="formbold-input-flex">
        </div>
        
        <div>
            <label for="message" class="formbold-form-label"> Description </label>
        <textarea rows="6" name="message" id="message" placeholder="Type your message" class="formbold-form-input"
            required></textarea>
        </div>
        
        <button class="formbold-btn">
        Submit
    </button>
    </form>
</div>

<script>

    const form = document.querySelector('form');

    form.addEventListener('submit', (event) => {
        event.preventDefault();

        // Validate the form.
        const name = document.getElementById('name').value;
        const accountName = document.getElementById('account-name').value;
        const message = document.getElementById('message').value;

        if (!name) {
            alert('Please enter your name.');
            return;
        }

        if (!accountName) {
            alert('Please enter the name of your account.');
            return;
        }

        if (!message) {
            alert('Please enter a message.');
            return;
        }

        // Send the message to WhatsApp.
        const number = '+254700205302';
        const url = "https://wa.me/" + number + "?text="
            + "Name : " + name + "%0a"
            + "AccountName : " + accountName + "%0a"
            + "Message : " + message + "%0a%0a";

        window.open(url, '_blank').focus();
    });


</script>