<div class="formbold-form-wrapper">
    <form action="" method="POST">
        <div class="formbold-input-flex">
            <h4>Get a professional account manager</h4>
            <div>
                <label for="firstname" class="formbold-form-label"> Account Name</label>
                <input type="text" name="firstname" id="firstname" placeholder="Writers Kenya" class="formbold-form-input" />
            </div>
            
        </div>

        <div class="formbold-input-flex">
            
            <div>
                <label for="phone" class="formbold-form-label"> Phone number </label>
                <input type="text" name="phone" id="phone" placeholder="+254 700 0000 000" class="formbold-form-input" />
            </div>
            <div>
                <label for="phone" class="formbold-form-label"> Budget </label>
                <input type="text" name="phone" id="phone" placeholder="$ 0.00" class="formbold-form-input" />
            </div>
        </div>

        <div class="formbold-input-radio-wrapper">
            <label for="jobtitle" class="formbold-form-label"> Category </label>

            <div class="formbold-radio-flex">
                <div class="formbold-radio-group">
                    <label class="formbold-radio-label">
            <input class="formbold-input-radio" type="radio" name="jobtitle" id="jobtitle">
            Transcription
            <span class="formbold-radio-checkmark"></span>
            </label>
                </div>

                <div class="formbold-radio-group">
                    <label class="formbold-radio-label">
            <input class="formbold-input-radio" type="radio" name="jobtitle" id="jobtitle">
            Captioning
            <span class="formbold-radio-checkmark"></span>
            </label>
                </div>

                <div class="formbold-radio-group">
                    <label class="formbold-radio-label">
            <input class="formbold-input-radio" type="radio" name="jobtitle" id="jobtitle">
            Writting
            <span class="formbold-radio-checkmark"></span>
            </label>
                </div>
                <div class="formbold-radio-group">
                    <label class="formbold-radio-label">
            <input class="formbold-input-radio" type="radio" name="jobtitle" id="jobtitle">
            Tutoring & Accademics
            <span class="formbold-radio-checkmark"></span>
            </label>
                </div>
                <div class="formbold-radio-group">
                    <label class="formbold-radio-label">
            <input class="formbold-input-radio" type="radio" name="jobtitle" id="jobtitle">
            Others
            <span class="formbold-radio-checkmark"></span>
            </label>
                </div>
            </div>
        </div>

        <div>
            <label for="message" class="formbold-form-label"> Description </label>
            <textarea rows="6" name="message" id="message" placeholder="Type your message" class="formbold-form-input"></textarea>
        </div>

        <button class="formbold-btn">
        Submit
    </button>
    </form>
</div>
 