
<!-- Carousel Start -->

<div class="container-fluid p-0">
  <div class="owl-carousel header-carousel position-relative">
    <div class="owl-carousel-item position-relative">
      <img class="img-fluid" src="public/img/maxresdefault.jpg" alt="">
      <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(43, 57, 64, .5);">
        <div class="container">
          <div class="row justify-content-start">
            <div class="col-10 col-lg-8">
              <h1 class="display-3 text-white animated slideInDown mb-4">Get Yourself An Account Manager
                today!</h1>
              <p class="fs-5 fw-medium text-white mb-4 pb-2">Providing best user experience for customer.
              </p>
              <a href="/get-account-manager" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Get manager</a>
              <a href="/sell-account" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Sell
                Account</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Carousel End -->


<!-- Search Start -->
<div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
  <div class="container">
    <div class="row g-2">
      <div class="col-md-10">
        <div class="row g-2">
          <div class="col-md-4">
            <input type="text" class="form-control border-0" placeholder="Keyword" />
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <button class="btn btn-dark border-0 w-100">Search</button>
      </div>
    </div>
  </div>
</div>
<!-- Search End -->
<div id="category">
  <div>
    <br>
    <br>
  </div>
</div>

<!-- Category Start -->
<div id="" class="container-xxl py-5">
  <div class="container">
    <h1>Explore our Categories</h1>
    <div class="row g-4">
      <div class="col-lg-3 col-sm-6">
        <a class="cat-item rounded p-4" href="#">
          <i class="fa fa-3x fa-user text-primary mb-4"></i>
          <h6 class="mb-3">Get manager</h6>
          <p class="mb-0">Book your account manager Here!</p>
        </a>
        <div class="d-none information">
          <ul class="fancy-list">
            <li>The account manager will manager your account and share profits 60/40.</li>
            <li>Remotask</li>
            <li>Transcription</li>
            <li>Writing</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a class="cat-item rounded p-4" href="#">
          <i class="fa fa-3x fa-headphones text-primary mb-4"></i>
          <h6 class="mb-3">Transcription & Captioning</h6>
          <p class="mb-0">All Types</p>
        </a>
        <div class="d-none information">
          <ul class="fancy-list">
            <li>Rev</li>
            <li>Verbit</li>
            <li>Audio Transcript</li>
            <li>TranscribeMe</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a class="cat-item rounded p-4" href="#">
          <i class="fa fa-3x fa-tasks text-primary mb-4"></i>
          <h6 class="mb-3">Writing</h6>
          <p class="mb-0">Academic and Article Writing Accounts</p>
        </a>
        <div class="d-none information">
          <ul class="fancy-list">
            <li>Uvocorp</li>
            <li>Fiverr</li>
            <li>Nerdy</li>
            <li>Atlas</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a class="cat-item rounded p-4" href="#">
          <i class="fa fa-3x fa-book text-primary mb-4"></i>
          <h6 class="mb-3">Remotask Exams</h6>
          <p class="mb-0">Remotask Q & A!</p>
          </a>
        <div class="d-none information">
          <ul class="fancy-list">
            <li>Dolphin Genesis</li>
            <li>Biology Expert</li>
            <li>Law Expert</li>
            <li>Nutrition Expert</li>
            <li>Genai</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a class="cat-item rounded p-4 mb-4" href="#">
          <i class="fas fa-globe"></i>
          <h6 class="mb-3">Web & Mobile Design</h6>
          <p class="mb-0">
            Let's do it!
          </p>
        </a>
        <div class="d-none information">
          <ul>
            <li>Hire us and lets make your idea a reality!</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
      <div class="list-group-item-secondary" data-wow-delay="0.1s">
          <img src="public/img/5ff90f800d861d4cd0e3f6d0_remotasks-logo.png" alt="" class="img-fluid">

          </a>
        </div>
    </div>
  </div>
</div>

<!-- Category End -->

<div id="managed">
  <div>
    <br>
    <br>
  </div>
</div>
<!-- Accounts Start -->
<div id="" class="container-xxl py-5">
  <div class="container">
    <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Available Accounts</h1>
    <ul id="accountList"></ul>
    <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
      <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">

        <li class="nav-item">
          <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
            <h6 class="mt-n1 mb-0">For sale</h6>
          </a>
        </li>

      </ul>
      <div class="tab-content">
        <div id="tab-1" class="tab-pane fade show p-0 active">

          <% if (accounts.length > 0) { %>
          <% for (let i=0; i < accounts.length; i++) { %>
          <div class="job-item p-4 mb-4">
            <div class="row g-4">
              <div class="col-sm-12 col-md-8 d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid border rounded" src="public/img/com-logo-2.jpg" alt="" style="width: 80px; height: 80px;">
                <div class="text-start ps-4">
                  <h5 class="mb-3"><%= accounts[i].account_name %></h5>
                  
                  <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Featured</span>
                  <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>Ksh<%= accounts[i].price %>
                      </span>
                </div>

              </div>


              <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                <div class="d-flex mb-3">
                  <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
                  <a class="btn btn-primary show-phone-number">Buy</a>
                  <p id="phoneNumber" style="display: none;" class="btn btn-primary">Phone: +254 700407423</p>
                </div>
                
              </div>
            </div>
          </div>
          <% } %>
          <% } else { %>
          <p>No accounts are up for sale</p>
          <% } %>

          <a class="btn btn-primary py-3 px-5" href="">Browse More Accounts</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--    Accounts End -->
<div id="testimonial">
  <div>
    <br>
    <br><br><br>
  </div>
</div>

<!-- Testimonial Start -->
<div id="" class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container">
    <h1 class="text-center mb-5">Our Clients Say!!!</h1>
    <div class="owl-carousel testimonial-carousel">
      <div class="testimonial-item bg-light rounded p-4">
        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
        <p>The admin was very understanding</p>
        <div class="d-flex align-items-center">
          <img class="img-fluid flex-shrink-0 rounded" src="public/img/HLZBLZ 2016 Spring_Summer _Locals Only_ Lookbook.jpg" style="width: 50px; height: 50px;">
          <div class="ps-3">
            <h5 class="mb-1">Joe M</h5>
            <small>Technical Writer </small>
          </div>
        </div>
      </div>
      <div class="testimonial-item bg-light rounded p-4">
        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
        <p>I was looking for a remotask account. I got more than an account, the training was helpful</p>
        <div class="d-flex align-items-center">
          <img class="img-fluid flex-shrink-0 rounded" src="public/img/Lakeith Stanfield Is A New Kind Of Romantic Hero.png" style="width: 50px; height: 50px;">
          <div class="ps-3">
            <h5 class="mb-1">Chris J</h5>
            <small>Dolhin Genesis Tasker</small>
          </div>
        </div>
      </div>
      <div class="testimonial-item bg-light rounded p-4">
        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
        <p>Thank You AccountsHub</p>
        <div class="d-flex align-items-center">
          <img class="img-fluid flex-shrink-0 rounded" src="public/img/Short Afro Puff Synthetic Hair Bun Chignon Hairpiece Drawstring Ponytail Kinky Curly Updo Clip Hair Extensions For Women 8inch.jpg" style="width: 50px; height: 50px;">
          <div class="ps-3">
            <h5 class="mb-1">Grace M</h5>
            <small>Transcriber</small>
          </div>
        </div>
      </div>
      <div class="testimonial-item bg-light rounded p-4">
        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
        <p>I got level one Fiver account. Much appreciated the good work</p>
        <div class="d-flex align-items-center">
          <img class="img-fluid flex-shrink-0 rounded" src="public/img/man1.jpg" style="width: 50px; height: 50px;">
          <div class="ps-3">
            <h5 class="mb-1">Joel K</h5>
            <small>Academic Writer</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Testimonial End -->
<script>
  const accountsDivs = document.querySelectorAll('.accounts');

  const links = document.querySelectorAll('.cat-item');

  links.forEach(link => {
    link.addEventListener('click', (event) => {
      event.preventDefault();

      // Get the children of the clicked cat-item div.
      const clickedCatItemDivChildren = link.nextElementSibling.children;

      // Hide all of the accounts divs that are not the children of the clicked cat-item div.
      accountsDivs.forEach(accountDiv => {
        if (!clickedCatItemDivChildren.includes(accountDiv)) {
          // Hide the accountDiv
          accountDiv.style.display = "none";
        }

      });

      // Display the accounts div for the clicked div.
      const accountsDiv = link.nextElementSibling;
      accountsDiv.classList.toggle('d-none');

      // If the accounts div is visible and the link is the "Get account manager" or "Remotask exams" link, then open the URL in the link.
      if (!accountsDiv.classList.contains('d-none') && (link.href === '/get-account-manager' || link.href === '/enroll')) {
        window.open(link.href, '_blank');
      }
    });
  });


</script>

<style>
  .fancy-list {
    font-style: italic;
    color: #03172e;
  }

  ul.fancy-list li {
    font-style: inherit;
    color: inherit;
  }
</style>