

<div class="formbold-form-wrapper">
    <form action="/sell-account" method="POST">
        <div class="formbold-input-flex">
            <h5> Post Your Account Information Here</h5>
            <h6>By posting your account, we will help you sell it a a reasonable price. Our Alogrithm will match you
                with
                prospective buyers</h6>
        </div>

        <div class="mb-3">
            <label for="account_name" class="form-label"> Account Name </label>
            <input type="text" name="account_name" id="account_name" placeholder="Account Name" class="form-control" required/>
        </div>

        <div class="mb-3">
            <label for="price" class="form-label"> Price </label>
            <input type="text" name="price" id="price" placeholder="ksh 0.00" class="form-control" required />
            </div>
            
            <div class="mb-3">
                <label for="phone_number" class="form-label"> Phone Number </label>
                <input type="text" name="phone_number" id="phone_number" placeholder="Phone Number" class="form-control" required />
        </div>

        <button type="submit" class="formbold-btn">POST</button>
        </form>
        </div>
        <script>
            document.getElementById('price').addEventListener('input', function () {
                // Remove any non-numeric characters
                this.value = this.value.replace(/\D/g, '');

                if (this.value.length > 7) {
                    this.value = this.value.slice(0, 7);
                }
            });


                document.getElementById('phone_number').addEventListener('input', function () {
                    let phoneNumber = this.value.replace(/\D/g, ''); // Remove non-numeric characters

                // Check if the phone number starts with 07 or +2547 and has exactly 10 digits
                if (/^(07|\+2547)\d{8}$/.test(phoneNumber)) {
                    this.setCustomValidity(''); // Valid input
                } else {
                    this.setCustomValidity('Please enter a valid phone number'); // Invalid input
                }
            });
        </script>
